{% extends "base_entries.html" %}        

{% block content %}
<h2>{{ object.title }}</h2>
{{ object.body_html|safe }}

<h2>Comments</h2>
{% load comments %}
{% load markup %}

{% render_comment_form for object %}

{% get_comment_list for object as comment_list %}
{% for comment in comment_list %}
    <p>On {{ comment.submit_date|date:"F j, Y" }}, {{comment.name}} said:</p>
    {{ comment.comment|markdown }}
{% endfor %}

{% endblock %}

{% block whatis %}
<p>This is an entry posted to my blog on {{ object.pub_date|date:"F j, Y" }}</p>

{% load tagging_tags %}
{% for item in object_list %}
    {% tagged_objects item in coltrane.Entry as goods %}
    {% if goods %}
        {{ goods.name }}
    {% endif %}
{% endfor %}

{% if object.categories.count %}
    <p>This entry is part of the categor{{ object.categories.count|pluralize:"y,ies" }}:</p>
    {% for category in object.categories.all %}
        <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
        {% if forloop.last %}{% else %}
        {% ifequal forloop.revcounter0 1 %} and {% else %}, {% endifequal %}
        {% endif %}
    {% endfor %}
{% else %}
    <p>This entry isn't part of any categories.</p>
{% endif %}

{% load comments %}
{% get_comment_count for object as comment_count %}
<p>So far, this entry has {{ comment_count }} comment{{ comment_count|pluralize}}.</p>

{% endblock %}
