{% extends "base_entries.html" %}        

{% block content %}
<h2>{{ object.title }}</h2>
{{ object.body_html|safe }}
{% endblock %}

{% block whatis %}
<p>This is an entry posted to my blog on {{ object.pub_date|date:"F j, Y" }}</p>

{% load tagging_tags %}
{% for item in object_list %}
    {% tagged_objects item in coltrane.Entry as goods %}
    {% if goods %}
        {{ goods.name }}
    {% endif %}
{% endfor %}

{% if object.categories.count %}
    <p>This entry is part of the categor{{ object.categories.count|pluralize:"y,ies" }}:</p>
    {% for category in object.categories.all %}
        <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
        {% if forloop.last %}{% else %}
        {% ifequal forloop.revcounter0 1 %} and {% else %}, {% endifequal %}
        {% endif %}
    {% endfor %}
{% else %}
    <p>This entry isn't part of any categories.</p>
{% endif %}

{% endblock %}
