    <head> 
        <title>My Weblog{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/media/coltrane.css" />
        <link rel="stylesheet" type="text/css" href="/media/960_12_col.css" />
        <link rel="stylesheet" type="text/css" href="/media/reset.css" />
    </head>
    <div class ="container_12">
    
        <div id="header">
            <h1 id="branding">My Weblog</h1>
        </div>

        <div id="content" class ="grid_8">
            {% block content %}
            {% endblock %}
        </div>

<p>Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!Hello, World!</p>
</div>
<div class="grid_4">
<p>Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!Goodbye, World!</p>
</div>
</div>
